@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}

.z {
  color: #fff;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}
